<a href="https://colab.research.google.com/github/rajusandrapati/python-aasignments/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#  Create a Dictionary with at Least 5 Key-Value Pairs of Student ID and Name

# Create a dictionary with Student ID and Name
student_dict = {
    101: "Alice",
    102: "Bob",
    103: "Charlie",
    104: "David",
    105: "Eve"
}

In [ ]:
# Adding Values in Dictionary

# Add a new student to the dictionary
student_dict[106] = "Frank"
print("After adding a new student:", student_dict)

After adding a new student: {101: 'Alice', 102: 'Bob', 103: 'Charlie', 104: 'David', 105: 'Eve', 106: 'Frank'}

In [ ]:
# Update the name of the student with ID 103
student_dict[103] = "Carlos"
print("After updating student ID 103:", student_dict)

After updating student ID 103: {101: 'Alice', 102: 'Bob', 103: 'Carlos', 104: 'David', 105: 'Eve', 106: 'Frank'}

In [ ]:
# Access the name of the student with ID 102
student_name = student_dict[102]
print("Student with ID 102:", student_name)

Student with ID 102: Bob

In [ ]:

#  Access the values of nested loop dictionary

nested_dict = {
    "student1": {"name": "John", "age": 20, "grade": "A"},
    "student2": {"name": "Jane", "age": 21, "grade": "B"},
    "student3": {"name": "Bob", "age": 22, "grade": "C"}
}

# Accessing values of nested dictionary
for student, info in nested_dict.items():
    print(f"Student {student}:")
    for key, value in info.items():
        print(f"  {key.capitalize()}: {value}")
    print()

Student student1:
  Name: John
  Age: 20
  Grade: A

Student student2:
  Name: Jane
  Age: 21
  Grade: B

Student student3:
  Name: Bob
  Age: 22
  Grade: C

In [ ]:
# Print all keys in the student_dict
print("Keys in student_dict:", student_dict.keys())

Keys in student_dict: dict_keys([101, 102, 103, 104, 105, 106])

In [ ]:
# done